/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/*==================== COLORS ====================*/
:root {
  --first-color: #FFFFFF;
  --second-color: #000000;
  --third-color: #BBBBBB;
  --fourth-color: #CCCCCC;
  --fifth-color: #EEEEEE;
  --sixth-color: #333333;
  --seventh-color: #444444;

/*==================== FONT STYLES ====================*/

  --body-font: "Poppins", sans-serif;
  --h1-font-size: 6.25rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1rem;
  --body-font: 0.625rem;
  --font-light: 200;
}

/*==================== BASE ====================*/

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  /* font-style: normal; */
}

html {
 background-size: cover;
 text-align: center;
 font-size: 10px;
}

body {
 background: #FFF;
 color: #000;
 min-height: 50vh;
 align-items: center;
 margin: auto;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 text-align: center;
 text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.clock {
 width: 30rem;
 height: 30rem;
 border: 20px solid #000;
 border-radius: 50%;
 margin: 50px auto;
 position: relative;
 padding: 2rem;
 /* box-shadow:
   0 0 0 4px rgba(0,0,0,0.1),
   inset 0 0 0 3px #EFEFEF,
   inset 0 0 10px black,
   0 0 10px rgba(0,0,0,0.2); */
}

.clock-title {
 font-size: 100px;
 letter-spacing: -0.9px;
 color: #000;
}

.clock-face {
 position: relative;
 width: 100%;
 height: 100%;
 transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
 width: 50%;
 height: 6px;
 background: #000;
 position: absolute;
 top: 50%;
 transform-origin: 100%;
 transform: rotate(90deg);
 transition: all 0.05s;
 transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.second-hand {
  height: 2px;
}

/*----- Light Mode Clock -----*/
.light-mode .clock {
  border-color: #000;
}

.light-mode .clock-title {
  color: #000;
}

.light-mode .hand {
  background: #000;
}

/*----- Dark Mode Clock -----*/
.dark-mode .clock {
  border-color: #fff;
}

.dark-mode .clock-title {
  color: #fff;
}

.dark-mode .hand {
  background: #fff;
}

/*----- Button Assets -----*/

.button-text {
  font-size: 2rem;
}

/*----- Light/Dark Mode Button -----*/

 .btn-group {
 	border-radius: 100px;
 }


 .btn-group .btn+.btn {
 	margin-left: 0;
 }

 button {
 	padding: 10px 20px;
 	font-size: 16px;
 }

 .btn {
 	border-radius: 100px;
  font-size: 2rem!important;
 }

 .btn:focus,
 .btn:active {
 	outline: none;
 	box-shadow: none;
 }

 /*----- Light/Dark Mode Function -----*/

 .light-mode {
 	background-color: #fff;
 	color: #000;
 	transition: all 0.5s ease;
 }

 .light-mode .btn-group {
 	border: 10px solid rgba(0,0,0,0.03);
 	transition: all 0.5s ease;
 }

 .light-mode .btn {
 	background: #ccc;
 	color: #444;
 }

 .light-mode .btn:hover,
 .light-mode .btn:active {
 	background-color: #bbb;
 }

 .dark-mode {
 	background-color: #000;
 	color: #eee;
 	transition: all 0.5s ease;
 }

 .dark-mode .btn-group {
 	border: 10px solid rgba(255,255,255,0.05);
 	transition: all 0.5s ease;
 }

 .dark-mode .btn {
 	background: #444;
 	color: #fff;
 }

 .dark-mode .btn:hover,
 .dark-mode .btn:active {
 	background-color: #333;
 }

 .btn.active {
 	background-color: rgba(0,0,0,0);
 }
